.slideItemImg {
  cursor: default;
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slideItemContainer {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 100px;
  width: 40%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnDetail:hover {
  filter: brightness(130%);
  font-weight: 700 !important;
}
