.player_display {
  width: 100%;
  max-width: calc(100vh * (16 / 9));
  min-width: calc((360px * (16 / 9)));
}

.underPlayerDisplay_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.player_detail {
  width: 65%;
  margin-right: 12px;

  .player_ownerInfo {
    margin-right: 12px;
    display: flex;
    gap: 12px;

    .ownerName_box {
      font-weight: 600;
    }
  }

  .player_description {
    margin-top: 12px;
  }
  .player_info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    .player_info_box {
      max-width: 400px;
      max-height: 32px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.player_recommendation {
  width: 35%;
  max-width: 390px;
}
