.card_container {
  width: 330px;
  border-radius: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  .card_info {
    width: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .like_icon_fCard {
      display: none;
    }
  }
}
