.setting_container {
  margin-top: 15px;
  max-width: 876px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  .settingName_box,
  .settingEmail_box,
  .settingDescription_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .publish_btn {
    margin-top: 20px;
  }
}
