.userPage_container {
  padding: 24px 150px;
  display: flex;
  gap: 20px;
}

.leftSide_container {
  width: 30%;
  height: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.userPage_option_box {
  width: 100%;

  .option_btn {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize !important;
  }
}

.rightSide_container {
  width: 70%;
}

@media screen and (max-width: 925px) {
  .userPage_container {
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .leftSide_container {
      width: 100%;
      max-width: none;

      .userPage_option_box {
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiBox-root {
          width: 100% !important;
        }
      }
    }
    .rightSide_container {
      width: 100%;
    }
  }
}
